html{
    box-sizing: border-box;
    font-size: 100%;

}
*, *:before, *:after{
    box-sizing: inherit;
}

body, #page-wrapper{

    width: 100%;

}


#ribbon{
    background-color: #7d7d00;
    width:100%;
    height:45px;

}
#ribbon .fa{
margin-right: 30px;
    float: right;
    color: #FFFFFF;
}

#gift_card_intro{
    margin: 50px 0;
    width: 90%;

}

#gift_card_intro h1, #heading{
    font-size: 2.5em;
    letter-spacing: 3px;
}
#gift_card_intro p{
    font-size: 1em;
    letter-spacing:2px;
    text-align: center;
}


#gift_card_themes{

    text-align: center;

}

#gift_card_themes .fa{
    margin: 30px;

}

#gift_cards{
    width: 100%;
    margin: 0 10%;

}
#gift_card{
    width: 270px;
    height: 270px;
    margin:25px 20px;
    float: left;
}
#gift_card img{
    width: 250px;
    height: 170px;
    border: 4px double black;
}

#gift_card_last{
    padding: 40px;
    clear: both;
    width: 100%;
    text-align: center;
}

#btn_add{
    border: 3px solid black;
    background-color: #7d7d00;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 100;
    padding: 2%;
}

#gift_message{
    border: 10px double black;
    background-color: #7d7d00;
    color: #000000;
    width: 60%;
    height: 300px;
    margin: 10% auto;

}

#table-view{
    border: 5px solid black;
    padding: 2%;
}