<!--
    The footer for the public interface of Sparkles Shop Project
    Author: Soo-Ah Jung
-->
<!-- footer -->

<!-- Newsletter Code-->

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $(document).ready(function(){
        $('#subscribe').submit(function(event){
            event.preventDefault();
            var email = $('#emailBox').val();
            $.getJSON('../Views/Subescriber/validateSubscriber.php',{email : email}, function (data) {
                if(data===""){
                    // alert("test");
                    $.getJSON('../Views/Subescriber/findSubscriber.php',{email : email}, function (data) {
                        console.log(data);
                        if(data!=false){
                            if(data.Active==0){
                                $.getJSON('../Views/Subescriber/activateSubscriber.php',{email : email}, function (data) {
                                    $('#message').html(data);
                                });
                            }
                            else{
                                var message="You have already subscribed to our newsletter.";
                                $('#message').html(message);
                            }
                        }
                        else if(data===false){
                            $.getJSON('../Views/Subescriber/addSubscriber.php',{email : email}, function (data) {

                            });
                            var message="You have successfully subscribed to our newsletter.";
                            $('#message').html(message);
                        }
                    });
                }
                else{
                    $('#message').html(data);
                }
            })
        });
    });
</script>
<!-- End of Newsletter Code-->
<div class="footer-container">
    <div class="container">
        <footer id="footer" class="row">
            <section class="footer-block col-xs-12 col-sm-6 col-md-3 col-lg-3" id="block_various_links_footer">
                <h4 class="navtitle">Information<span class="plus minus">+</span></h4>
                <div class="block_content toggle-footer" style>
                    <ul class="bullet">
                        <li class="item"> <a href="../Views/TodaysDeal.php">Today's Deal</a></li>
                        <li class="item"> <a href="../Views/GiftCards/Views">Gift Cards</a></li>
                        <li class="item"> <a href="#">Contact Us</a></li>
                        <li class="item"> <a href="../Views/faq.php">FAQ</a></li>
                    </ul>
                </div>
            </section>
            <section class="footer-block col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h4 class="navtitle">My Account<span class="plus minus">+</span></h4>
                <div class="block_content toggle-footer" style>
                    <ul class="bullet">
                        <li> <a href="#">My Orders</a></li>
                        <li> <a href="#">My WishList</a></li>
                        <li> <a href="../Views/CustomerLogin.php">My Info</a></li>
                    </ul>
                </div>
            </section>
            <section class="footer-block col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h4 class="navtitle">Social Media<span class="plus minus">+</span></h4>
                <div class="block_content toggle-footer" style>
                    <ul class="bullet">
                        <li> <a href="#">Instagram</a></li>
                        <li> <a href="#">Facebook</a></li>
                        <li> <a href="#">Twitter</a></li>
                    </ul>
                </div>
            </section>
            <section class="footer-block col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h4 class="navtitle">Newsletter<span class="plus minus">+</span></h4>
                <div class="block_content toggle-footer">
                    <form action="" method="post" id="subscribe">
                        <div class="form-group">
                            <input type="text" id="emailBox" name="email" size="24" />
                            <button type="submit" id="submitNewsletter" name="submitNewsletter" class="btn btn-link">
                                <img src="../Images/arrow-right.png" alt="submit image" id="arrw" />
                            </button>
                        </div>
                        <span id="message"></span>
                    </form>
                </div>
            </section>
        </footer>
    </div>
</div>
<div id="copyright">
    <p>&copy; 2016 - <b>Sparkles</b> by Team Echo</p>
</div>
<!-- Live Chat -->
<div id="livechat">
    <div class="livechatTitle">
        <p>Live Chat!<span id="chatArrow"> &#9650;</span></p>
    </div>
    <div id="livechatContent">

    </div>
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>