@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);


html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/********** Header Style *************/

#header{
	background-color: #191919;
	height: 61px;
	width: 100%;
}

.header-container{
    	text-align: center;
    	color: #888888;
}

#header #header-logo {
    float: left;
    padding-top: 5px;
}


#header img{
    height: 41px;
    margin-left: 10px;
}

#header #header-logo {
	float: left;
	padding-top: 9px;
}


.top_menu{
	padding-top: 19px;
}


.top-level-menu-li-a{
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font: 700 15px/22px "Ubuntu", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}






.top_menu menu{
	list-style: none;
}
.top_menu > ul > li{
    display: inline-block;
    margin: 0 15px;
}



.top-level-menu-li-a:hover, #header .shopping_cart a:hover, #header .top_menu_icon a:hover, #header .currency a:hover{
    color: white;
    text-decoration: none;
}




#header .shopping_cart{
	float: right;
	position: relative;
	padding-top: 16px;
	margin-right: 20px;
}

#header .top_menu_icon{
	float: right;
	position: relative;
	padding-top: 16px;
	margin-right: 10px;
}




#header .currency{
	float: right;
	position: relative;
	padding-top: 18px;
	margin-right: 10px;
}





#header .shopping_cart a, #header .top_menu_icon a{
	text-decoration: none;
	color: #888888;
	font-size: 20px;
	cursor: pointer;
}

#header .currency a{
	text-decoration: none;
	color: #888888;
	 color: rgba(255, 255, 255, 0.5);
	 font: 700 14px/22px "Ubuntu", sans-serif;	
}


.top_menu_icon .dropdown-menu ul{
	border-radius: 0px !important;

}



#header .currency .dropdown-menu li{
	text-transform: uppercase;
}

#header .currency .dropdown-menu li a{
	    text-decoration: none;
	    color: rgba(255, 255, 255, 0.95);
	    font-size: 14px !important;
	    font-family: "Ubuntu";
	    padding: 3px 10px !important;
}

#header .currency .dropdown-menu li a:hover{
	text-decoration: none;
	    color: rgba(40,40,40,0.7) ;
	    font-family: "Ubuntu";
	    font-weight: bold;
}

#header .currency .dropdown-menu{
	min-width: 50px !important;
	background-color: rgba(40,40,40,0.7) ;

}





#search_bar_container{
background-color: #191919;
	display:none;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 3px solid #f1f1f1;
}

#search_bar_container .form-group{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px !important;
	background-color: white;
}


#mobile-menu{
	border-bottom: 3px solid #f1f1f1;
	background-color: #191919;
	padding-top: 20px;
	padding-bottom: 20px;
	display: none;
}


#mobile-menu ul{
	list-style: none;
	width: 80%;
	padding: 0;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}



#mobile-menu ul a:hover{
    background-color: #6f6f6f;
    color: white;
    cursor: pointer;
}


#mobile-menu a{
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 20px;
	 font: 700 14px/22px "Ubuntu", sans-serif;	
	 text-decoration: none;
	 color: #333333;
	 display: inline-block;
	 width: 100%;
}




.active_icon a{
	color: white !important;
}





/******** image slider style ***********/



.container-fluid {
    padding-right: -15px;
}

.col-md-3, .col-sm-6,  .col-xs-12{
	padding-right: 0px !important;
	padding-left: 0px !important;	
}



.title1 {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 300px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.title1 h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    color: rgb(51, 51, 51);
    margin-top: 9px; //3.5%;
    font-family: "Ubuntu",sans-serif;
    line-height: 44px;
}

#part1:hover{
    background-image: url(AdobeStock_75573955_WM.jpeg);
}

#part2:hover{
    background-image: url(AdobeStock_97789847_WM.jpeg);
}

#part3:hover{
    background-image: url(AdobeStock_87426995_WM.jpeg);
}

#part4:hover{
    background-image: url(AdobeStock_92029748_WM.jpeg);
}

#part1, #part2, #part3, #part4 {
        background-repeat: no-repeat;
        background-size:cover;
        height: 650px;
}




/******** footer style ***********/


.footer-container{
    background-color: white;
    border-top: black solid 3px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-container ul{
	height: 100px;

}

.footer-container li{
	list-style:none;
}

.footer-container li a{
    font: 500 12px/24px "Ubuntu", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #888888;
}

.footer-container li a:hover{
	color: #202020;
}


.navtitle{
    font: bold 14px/19px "Ubuntu", sans-serif;
    color: #333333;
    margin: 40px 0 14px 0;
    text-transform: uppercase;
}


.footer {
    text-align: center;
}


.bullet{
	padding-left: 0;
}



#copyright{
	border-top: 3px solid #f1f1f1;
	margin-top: 30px;
}
#copyright p{
	color: #888888;
	font: normal 13px/19px "Ubuntu", sans-serif;
	padding: 20px;
	padding-left: 30px;
}

.form-group{
    width: 230px;
    margin-bottom: 0;
    position: relative;
    border: 1px solid #e4e4e4;
    border-radius: 0;
    padding: 0;
}

#emailBox, #searchBox{
    height: 43px;
    line-height: 30px;
    background: none;
    border: none;
    padding: 5px 12px;
    color: #888888;
}


#submitNewsletter, #submitSearch{

	padding: 1px 1px 5px 1px;


}



#submitSearch{
	float: right;
	margin-top: 8px;
	margin-right: 15px;
}



#submitNewsletter img, #submitSearch img{
	height: 20px;
	border: none;
}

#emailBox:focus, #submitNewsletter:focus, #submitSearch:focus, #searchBox:focus{
	outline: none;
}

#livechat{
	width: 250px;
	z-index: 3;
	position: fixed;
	right: 80px;
	bottom: 0;
	border: 1px solid #B8B8B8 ;
	background-color: white;
}
.livechatTitle{
	background-color: #101010;
	height: 32px;
}
.livechatTitle p{
	color: white;
	font: normal 15px "Ubuntu", sans-serif;
	text-transform: uppercase;
	padding-left: 20px; 
	padding-top: 7px;
}
#chatArrow{
	float: right;
	padding-right: 10px;
	cursor: pointer;
}


#livechatContent{
	height: 400px;
	display: none;
}

.minus{
	float: right;
	font-size: 20px;
	cursor: pointer;
}













 
@media screen and (min-width: 600px) { 
  
	#header img{
	    height: 51px;
	    margin-left: 40px;
	}

	#header #header-logo {
		float: left;
		padding-top: 5px;
	}

	#header .shopping_cart a, #header .top_menu_icon a{
		text-decoration: none;
		color: #888888;
		font-size: 24px;
	}

	#header .currency a{
		text-decoration: none;
		color: #888888;
		 color: rgba(255, 255, 255, 0.5);
		 font: 700 15px/22px "Ubuntu", sans-serif;	
	}

	#header .currency{
		margin-right: 40px;
	}


	#header .top_menu_icon{
		margin-right: 20px;
	}



	.title1 {
	    background-color: rgba(255, 255, 255, 0.9);
	    margin-top: 300px;
	    padding-top: 0.5%;
	    padding-bottom: 0.5%;
	}




}

/*********** mobile size ***********/

 
@media screen and (min-width: 768px) { 
   

   
   .minus{
   	margin-right: 4%;
   }
   
   .footer-container .navtitle{
   	padding-left: 2% !important;
   	padding-right: 6% !important;
   }

.footer-container{
	padding-left: 4%;
}


	.footer-container .toggle-footer{
		padding-left: 2% !important;
	}
 
   
    #part1{
 	   background-image: url(AdobeStock_75573955_WM.jpeg);
	}

	#part2{
  	  background-image: url(AdobeStock_97789847_WM.jpeg);
	}

	#part3{
  	  background-image: url(AdobeStock_87426995_WM.jpeg);
	}	

	#part4{
   	 background-image: url(AdobeStock_92029748_WM.jpeg);
    
	}

#part1, #part2, #part3, #part4 {
        background-repeat: no-repeat;
        background-size:cover;
        height: 800px;
}


.title1 {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 300px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


.title1 h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    color: rgb(51, 51, 51);
    margin-top: 1.5%;
    font-family: "Ubuntu",sans-serif;
    line-height: 44px;
}


}






/*********** tablet size ***********/




@media screen and (min-width: 992px) { 

  
  
  .menu{
  	margin-right: 7%;
}
  
  
#category{
	display: inline-block;
}  
  
  
  
    #part1{
 	   background-image: url(AdobeStock_75573955_WM.jpeg);
	}

	#part2{
  	  background-image: url(AdobeStock_97789847_WM.jpeg);
	}

	#part3{
  	  background-image: url(AdobeStock_87426995_WM.jpeg);
	}	

	#part4{
   	 background-image: url(AdobeStock_92029748_WM.jpeg);
    
	}

#part1, #part2, #part3, #part4 {
        background-repeat: no-repeat;
        background-size:cover;
        height: 800px;
}


.title1 {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 300px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


.title1 h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    color: rgb(51, 51, 51);
    margin-top: 2%;
    font-family: "Ubuntu",sans-serif;
    line-height: 44px;
}

   
   .top-level-menu-li{
   	display: none;
}



}






